@import url(https://fonts.googleapis.com/css?family=Nunito);
  
  html {
    height: 100%;
    overflow: hidden;
  }
  
  body { 
    margin:0;
    padding:0;
      perspective: 1px;
      transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Nunito;
  }

  h1 {
    font-size: 250%
 }

 p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}


  
  #title h1 {
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
  }

  
  h2 {
    text-align: center;
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-size: 30px;
  }
  
  .slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
      transform-style: inherit;
  }
  
  img {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }
  
  img:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
  }
  
  .slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  }
   
  .title {
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
    float: right;
    
  } 
  /*
  .slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
  }
  */
 
  
  .slide, .slide:before {
    background: 50% 50% / cover;  
  }
  
  .header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
  }
  #title {
    background-image: url("IMG_0638.JPG");
    z-index:2;
  }

  #slide1 {
    background-image: url("tg.jpg"); 
    transform: translateZ(-1px) scale(2);
  }

  #slide2 {
    background-image: url("laptop-notebook-clean-hero.jpg");
    z-index:2;
  }

  #slide4 {
    background: #222;
  margin: 0;
  padding: 0;
  background: #262626;
  
  }

  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ul li {
    list-style-type: none;
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    color: #262626;
    font-size: 50px;
    z-index: 1;
    transition: .5s ease-in-out;
  }

ul li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -100%;
  background: #ccc;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
  transition: .3s ease-in-out;
}

ul li ::after {
content: "";
width: 50%;
height: 100%;
position: absolute;
right: -100%;
top: 0;
background: rgba(255, 255, 255, .3);
transition: .5s ease-in-out;
transition-delay: .3s;

}

ul li :hover::before {
  right: 0;
 

}

ul li :hover::after {
  left: 0;
  transform: scale(.9);

}

ul li:nth-child(1)::before {
background: #3b5999;
}

ul li:nth-child(2)::before {
  background: #3b5999;
  }
  ul li .fa {
   transition: .3s ease-in-out;
  }

  ul li:hover .fa{
color: #fff;
  }
